# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.db
*.sqlite3
.env
venv/
env/
instance/

# Uploads
backend/uploads/

# Node / React
node_modules/
frontend/build/
frontend/.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Docker
*.log
